.category-wrapper {
    height: 100%;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 35px;
    width: 100%;
    background: white;
    padding-top: 3px;
    padding-bottom: 6px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 20px 5px #00000061;
}

.react-category {
    background: -webkit-linear-gradient(315deg, #5b247a 0%,#1bcedf 100%);
    background: -o-linear-gradient(315deg, #5b247a 0%,#1bcedf 100%);
    background: linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);
}
.content-row {
    margin-left: 15px !important;
    margin-right: 15px !important;
    height: auto;
    margin-bottom: 105px;
    width: 100%;
}

.posts-container {
    margin-top: 85px;
    height: 90%;
    overflow-y: scroll;
    padding-left: 8%;
    padding-right: 8%;
}

.post {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 5px #00000061;
    padding: 20px 10px 20px 10px;
}

.post-title {
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

.post-body {
    text-align: center;
    width: 100%;
    padding: 25px 0 25px 0;
    margin: 0 40px 0 40px;
    background: #bbbbbb61;
    border-radius: 3px;
}

.post-info {
    margin-top: 25px;
}

.crud-col {
    text-align: right;
}

.votescore {
    margin-left: 10px;
}

.vote {
    cursor: pointer;
}

