.nav {
    background: black;
    color: white;
    height: 100%;
    position: relative;
    z-index: 5;
    box-shadow: 5px 0px 35px 10px #00000078;
}

hr {
    border-color: white !important;
}

.new-post-button {
    cursor: pointer;
    background: none;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    transition: .3s all ease;
}

.new-post-button:hover {
    color: black;
    background: white;
    border: 2px solid white;
    transition: .3s all ease;
}
